<%- include('header') -%>

  <main class="main">
    <section class="error">
      <h1>Síða Fannst ekki!</h1>
      <span>Úps... Eitthvað erum við að villast</span>
      <a href="/">Til baka</a>
    </section>
  </main>

<%- include('footer') -%>